<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956895017724-r40jqib22ora06r5ovvla1sedkm9q1jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956895017724-r40jqib22ora06r5ovvla1sedkm9q1jt</string>
	<key>API_KEY</key>
	<string>AIzaSyB4NQ-kwggbNUrDJixlfQbif83Jt52PYPY</string>
	<key>GCM_SENDER_ID</key>
	<string>956895017724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment3</string>
	<key>PROJECT_ID</key>
	<string>task1-b6d13</string>
	<key>STORAGE_BUCKET</key>
	<string>task1-b6d13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956895017724:ios:d8b217d10a3dad8024f579</string>
</dict>
</plist>